*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, rgb(94, 30, 214),rgb(154, 26, 228), rgb(228, 33, 218));
    height: 100vh;
    text-align: center;
}

.container{
    width: 330px;
    height: 500px;
    border-radius: 20px;
    background-color: rgb(149, 94, 236);
    margin-top: 7%;
    backdrop-filter: blur(50px);
}

.stopwatch{
    color: rgb(63, 39, 204);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin-top: 50px;
}

#result{
    margin-top: 15%;
    margin-left: 20%;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid rgb(247, 0, 255);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0,);
}
#result span{
    position: relative;
    top: 70px;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
}

.buttons{
    margin-top: 65px;
}
.buttons button{
    transition: 0.5s;
    border: 2px solid black;
    color: mintcream;
    border: none;
    background-color:rgb(110, 1, 252);
    padding: 5px;
    border-radius: 25px;
    letter-spacing: 7px;
    backdrop-filter: blur();
    text-align: center;
}
.buttons button:hover{
    color:rgb(255, 10, 214);
    transform: translateY(-10px);
    transition: transform 120ms;
    cursor: pointer;
    box-shadow: 0 0 1rem rgb(255, 10, 214);
}